<!DOCTYPE html>
<html lang="en">
  <head>
	  <title>MARC 034 to bounding box tool</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="referrer" content="origin">
	  <meta http-equiv="X-UA-Compatible" content="IE=9" />
	  <meta name="apple-mobile-web-app-capable" content="yes" />
	  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	  <meta name="HandheldFriendly" content="true" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

 	  <link rel="stylesheet" href="/css/mapzen.js.css">
	  <script src="/javascript/mapzen.min.js"></script>

	  <link rel="stylesheet" type="text/css" href="/css/marc-034.css" />
	  <script type="text/javascript" src="/javascript/marc-034.js"></script>
  </head>
  <body>

    <div id="marc" class="row">
    <form>
      <input type="text" name="marc-034" id="marc-034" placeholder="Enter a MARC 034 value here" value="" size="64" />
      <button id="submit" type="submit">convert to bounding box</button>
    </form>
    </div>

    <div id="results">
    <div id="bboxes" class="row"></div>
    <div id="map" class="row panel"></div>
    <div id="raw" class="row panel"></div>
    </div>

  </body>
</html>
